/* Optional: override Tailwind or add custom styles */
body {
  background-image: url("./public/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  transition: background-image 0.5s ease-in-out;
}

.glass-card {
  background: rgba(0, 0, 0, 0.55);   /* black transparent */
  color: white;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

input, select {
  background-color: rgba(255,255,255,0.9);
  color: #000;
}

button {
  backdrop-filter: blur(4px);
}

select option {
  background-color: #111;
  color: #fff;
}

#forecast div {
  background: rgba(0, 0, 0, 0.55) ;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}



#forecast div:hover {
  transform: scale(1.05);
}
